@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MATTVEIT.COM</h1>
    <p class="lead">I'm Matt Veit. This is my website.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
